language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - pypy
jobs:
  include:
    - name: flake8
      install: pip install flake8
      script: flake8 src setup.py
      after_success:
      env: CACHE_NAME=flake8
  allow_failures:
    - env: CACHE_NAME=flake8
install:
  - pip install -U pip setuptools
  - pip install -U coverage coveralls
  - pip install -U -e .[test,docs]
script:
  - coverage run -m zope.testrunner --test-path=src
  - coverage run -a -m sphinx -b doctest -d docs/_build/doctrees docs docs/_build/doctest
notifications:
  email: false
cache: pip
after_success:
  - coveralls
