include *.rst
include *.txt
include .coveragerc

recursive-include docs *
recursive-include src *

global-exclude *.pyc

# added by check_manifest.py
include *.py
include .travis.yml
include buildout.cfg
include tox.ini
